TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
TWITTER_USERNAME=

RESULT_TYPE=mixed
LANGUAGE=fr

TWITTER_RETWEET_RATE=120
TWITTER_REPLY_RATE=120
TWITTER_SEARCH_COUNT=20

DEBUG=true
